In [1]:
import sys
sys.path.append('C:/Users/Alejandro/Proyectos/Tokioschool/Modulo_6/VoleyStats-Pro-run') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=124&PID=152'
parametro = 'estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el bot√≥n de cookies.
Scraping exitoso

In [4]:
    
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Acciones_exitosas', 'Errores_colocador',
                '_error_colocador', 'Puntos_negativos', 'Puntos_positivos',
                'Acciones_positivas', 'Total_acumulado', 'Efic_Ranking',2]

parametro= 'estadistica_colocador'
colocador = crear_df(datos[5],columna,parametro)
colocador.drop([1,2], inplace=True, axis=1)
colocador.reset_index(inplace=True)
normalizar_df(colocador)
colocador.head(2)

,index,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking
0,0,Cavanna Maximiliano,2,4,21,0,3,3,4,3,34,"0,4412"
1,1,Bertassoni Paulo Renan,14,47,268,9,24,73,28,32,434,"0,3756"

In [3]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posicion,Altura,Ano_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,2,Paradela Corton Miguel,Libero,0.0,2004,0.0,0.0,1-2023-2024,2023-2024,1-2023-2024
1,3,Bouza Ferreiro Victor,Receptor,0.0,1990,0.0,0.0,2-2023-2024,2023-2024,1-2023-2024

In [5]:
colocador = pd.merge(colocador, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
colocador['temporada']='2022-2023'
colocador.drop(['index'], axis=1, inplace=True)
colocador.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking,id_jugador,id_equipo,temporada
0,Cavanna Maximiliano,2,4,21,0,3,3,4,3,34,"0,4412",65-2023-2024,5-2023-2024,2022-2023
1,Bertassoni Paulo Renan,14,47,268,9,24,73,28,32,434,"0,3756",133-2023-2024,10-2023-2024,2022-2023

In [6]:
colocador

,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking,id_jugador,id_equipo,temporada
0,Cavanna Maximiliano,2,4,21,0,3,3,4,3,34,"0,4412",65-2023-2024,5-2023-2024,2022-2023
1,Bertassoni Paulo Renan,14,47,268,9,24,73,28,32,434,"0,3756",133-2023-2024,10-2023-2024,2022-2023
2,Roberts Ignacio,11,42,286,2,36,64,50,42,480,"0,3750",23-2023-2024,2-2023-2024,2022-2023
3,Riganti Juan Martin,15,49,289,0,36,73,83,27,508,"0,3720",80-2023-2024,6-2023-2024,2022-2023
4,Lorente Lopez Lucas,12,43,251,5,30,74,55,20,435,"0,3609",97-2023-2024,8-2023-2024,2022-2023
5,Lorente Camacho Ruben,13,45,220,7,32,65,42,35,401,"0,2993",116-2023-2024,9-2023-2024,2022-2023
6,de Amo Miguel Angel,12,40,199,0,18,75,39,25,356,"0,2781",59-2023-2024,5-2023-2024,2022-2023
7,Martin Perez Cesar,12,42,241,4,44,82,43,35,449,"0,2762",51-2023-2024,4-2023-2024,2022-2023
8,Arjones Ferreiros Jaime,13,51,289,7,49,69,151,57,622,"0,2621",39-2023-2024,3-2023-2024,2022-2023
9,Pont Perello Guillem,8,18,54,0,6,24,14,4,102,"0,2549",122-2023-2024,9-2023-2024,2022-2023
10,Monfort Minaya Vicente,14,54,242,4,36,88,54,37,461,"0,2538",147-2023-2024,11-2023-2024,2022-2023
11,Loeches Buitrago Guillermo,12,49,253,2,32,98,42,38,465,"0,2516",88-2023-2024,6-2023-2024,2022-2023
12,,17,30,146,0,20,67,26,20,279,"0,2115",NaN,NaN,2022-2023
13,Edward Batalla Dexter,13,48,268,2,58,108,65,58,559,"0,1825",5-2023-2024,1-2023-2024,2022-2023
14,Garcia Borras Hector,15,51,288,5,68,150,94,48,653,"0,1378",156-2023-2024,12-2023-2024,2022-2023
15,Castaneda Yanguas Daniel,4,11,16,0,3,8,3,4,34,"0,1176",87-2023-2024,6-2023-2024,2022-2023

In [7]:
colocador.drop(12, inplace=True)

In [8]:

convertir = colocador.columns.difference(['Nombre'])
colocador['Efic_Ranking'] = colocador['Efic_Ranking'].str.replace(',', '.').astype(float)
colocador[convertir] = colocador[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
colocador['temporada']='2023-2024'
colocador.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 0 to 15
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              15 non-null     object
 1   Partidos_jugados    15 non-null     int64
 2   Sets_jugados        15 non-null     int64
 3   Acciones_exitosas   15 non-null     int64
 4   Errores_colocador   15 non-null     int64
 5   _error_colocador    15 non-null     int64
 6   Puntos_negativos    15 non-null     int64
 7   Puntos_positivos    15 non-null     int64
 8   Acciones_positivas  15 non-null     int64
 9   Total_acumulado     15 non-null     int64
 10  Efic_Ranking        15 non-null     float64
 11  id_jugador          15 non-null     object
 12  id_equipo           15 non-null     object
 13  temporada           15 non-null     object
dtypes: float64(1), int64(9), object(4)
memory usage: 1.8+ KB

In [10]:
normalizar('../../../data/2023-2024/colocador.csv')

,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking,id_jugador,id_equipo,temporada
0,Cavanna Maximiliano,2,4,21,0,3,3,4,3,34,0.4412,65-2023-2024,5-2023-2024,2023-2024
1,Bertassoni Paulo Renan,9,29,166,2,13,39,19,15,254,0.4409,133-2023-2024,10-2023-2024,2023-2024
2,Riganti Juan Martin,9,31,199,0,25,46,63,19,352,0.3807,80-2023-2024,6-2023-2024,2023-2024
3,Roberts Ignacio,8,32,216,2,26,45,32,37,358,0.3743,23-2023-2024,2-2023-2024,2023-2024
4,Lorente Lopez Lucas,7,26,153,4,17,47,36,10,267,0.3596,97-2023-2024,8-2023-2024,2023-2024
5,Martin Perez Cesar,8,27,158,4,30,50,30,24,296,0.2838,51-2023-2024,4-2023-2024,2023-2024
6,Arjones Ferreiros Jaime,7,28,161,3,24,38,74,30,330,0.2818,39-2023-2024,3-2023-2024,2023-2024
7,Loeches Buitrago Guillermo,8,34,187,2,20,67,31,27,334,0.2784,88-2023-2024,6-2023-2024,2023-2024
8,Lorente Camacho Ruben,9,31,153,6,27,47,32,26,291,0.2749,116-2023-2024,9-2023-2024,2023-2024
9,Pont Perello Guillem,7,15,51,0,6,22,13,4,96,0.2604,122-2023-2024,9-2023-2024,2023-2024
10,de Amo Miguel Angel,9,31,157,0,15,62,30,22,286,0.2552,59-2023-2024,5-2023-2024,2023-2024
11,Monfort Minaya Vicente,9,36,155,1,24,55,35,26,296,0.2500,147-2023-2024,11-2023-2024,2023-2024
12,Garcia Borras Hector,9,32,186,5,40,75,58,24,388,0.2242,156-2023-2024,12-2023-2024,2023-2024
13,Edward Batalla Dexter,8,30,176,0,39,64,44,36,359,0.2117,5-2023-2024,1-2023-2024,2023-2024

## Guardado en CSV.

In [11]:
colocador.to_csv('../../../data/2023-2024/colocador.csv', index=False)

## Base de datos.

In [5]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [6]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [7]:
dtype = {'id_jugador': Integer}
colocador.to_sql('colocador', engine, if_exists='append', index=False)

14