In [16]:
import sys
sys.path.append('C:/Users/Alejandro/Proyectos/Tokioschool/Modulo_6/VoleyStats-Pro-run') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [17]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=124&PID=152'
parametro = 'estadistica_equipo'
dato=scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [18]:
columna = ['Equipo', 'Jugados', 'Sets_Jugados', 'Total_Puntos', 'Break_Puntos', 'Puntos_Ganados',
            'Puntos_Perdidos', 'Total_Saque', 'Puntos_Saque', 'Error_Saque', 'Puntos_por_set_Saque',
            'Efic_Saque', 'Total_Recepcion', 'Error_Recepcion', 'Negativo_Recepcion', 'Positivo_Recepcion',
            'Excelente_Recepcion', 'Efic_Recepcion', 'Total_Ataque', 'Error_Ataque', 'Ataque_Bloqueado',
            'Positivo_Ataque', 'Excelente_Ataque', 'Efic_Ataque', 'Toque_Red_Bloqueo', 'Puntos_de_Bloqueo',
            'Puntos_Set_Bloqueo']

parametro = 'estadistica'
estadistica=crear_df(dato,columna,parametro)

In [19]:
mapear_nombres(estadistica)
normalizar_df(estadistica)

,Equipo,Jugados,Sets_Jugados,Total_Puntos,Break_Puntos,Puntos_Ganados,Puntos_Perdidos,Total_Saque,Puntos_Saque,Error_Saque,...,Efic_Recepcion,Total_Ataque,Error_Ataque,Ataque_Bloqueado,Positivo_Ataque,Excelente_Ataque,Efic_Ataque,Toque_Red_Bloqueo,Puntos_de_Bloqueo,Puntos_Set_Bloqueo
0,Rio Duero Soria,15,56,959,366,593,478,1314,61,208,...,22.0,1530,89,108,751,49.0,36.0,219,147,2.6
1,Voley Palma,15,60,934,327,607,322,1283,81,211,...,25.0,1726,176,151,737,43.0,24.0,121,116,1.9
2,Cisneros Alter,15,56,909,296,613,363,1259,59,228,...,27.0,1496,133,117,737,49.0,33.0,39,113,2.0
3,Guaguas,15,53,883,382,501,460,1249,93,182,...,26.0,1320,89,84,654,50.0,36.0,123,136,2.6
4,Conqueridor Valencia,14,55,867,321,546,344,1200,81,190,...,15.0,1528,144,119,684,45.0,28.0,208,102,1.9
5,CV Teruel,15,55,862,299,563,380,1235,39,185,...,22.0,1430,128,114,673,47.0,30.0,190,150,2.7
6,Manacor,15,53,848,298,550,379,1154,78,155,...,27.0,1410,118,118,647,46.0,29.0,104,123,2.3
7,CV San Roque,14,56,837,278,559,299,1190,64,199,...,26.0,1433,134,119,668,47.0,29.0,128,105,1.9
8,Arenal Emeve,14,54,812,272,540,291,1078,39,184,...,28.0,1467,145,132,650,44.0,25.0,117,123,2.3
9,CV Melilla,15,49,806,312,494,357,1141,72,187,...,32.0,1292,86,103,625,48.0,34.0,165,109,2.2
10,Unicaja Almeria,14,50,803,312,491,390,1109,78,190,...,25.0,1208,82,87,628,52.0,38.0,192,97,1.9
11,CV Villena Petrer,15,51,702,208,494,204,1080,32,172,...,32.0,1466,117,150,589,40.0,22.0,95,81,1.6

In [20]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Equipos.csv')
df

                  Equipo     id_equipo
0           Arenal Emeve   1-2023-2024
1         Cisneros Alter   2-2023-2024
2            Voley Palma   3-2023-2024
3                Manacor   4-2023-2024
4                Guaguas   5-2023-2024
5             CV Melilla   6-2023-2024
6           CV San Roque   7-2023-2024
7        Rio Duero Soria   8-2023-2024
8              CV Teruel   9-2023-2024
9        Unicaja Almeria  10-2023-2024
10  Conqueridor Valencia  11-2023-2024
11     CV Villena Petrer  12-2023-2024

In [21]:
result = pd.merge(estadistica, df[['Equipo', 'id_equipo']], left_on='Equipo', right_on='Equipo', how='left')
result['temporada']='2023-2024'
result.info()
result.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Equipo                12 non-null     object
 1   Jugados               12 non-null     int64
 2   Sets_Jugados          12 non-null     int64
 3   Total_Puntos          12 non-null     int64
 4   Break_Puntos          12 non-null     int64
 5   Puntos_Ganados        12 non-null     int64
 6   Puntos_Perdidos       12 non-null     int64
 7   Total_Saque           12 non-null     int64
 8   Puntos_Saque          12 non-null     int64
 9   Error_Saque           12 non-null     int64
 10  Puntos_por_set_Saque  12 non-null     float64
 11  Efic_Saque            12 non-null     float64
 12  Total_Recepcion       12 non-null     int64
 13  Error_Recepcion       12 non-null     int64
 14  Negativo_Recepcion    12 non-null     int64
 15  Positivo_Recepcion    12 non-null     int64
 16  Excelente_Recepcion   12 non-null     float64
 17  Efic_Recepcion        12 non-null     float64
 18  Total_Ataque          12 non-null     int64
 19  Error_Ataque          12 non-null     int64
 20  Ataque_Bloqueado      12 non-null     int64
 21  Positivo_Ataque       12 non-null     int64
 22  Excelente_Ataque      12 non-null     float64
 23  Efic_Ataque           12 non-null     float64
 24  Toque_Red_Bloqueo     12 non-null     int64
 25  Puntos_de_Bloqueo     12 non-null     int64
 26  Puntos_Set_Bloqueo    12 non-null     float64
 27  id_equipo             12 non-null     object
 28  temporada             12 non-null     object
dtypes: float64(7), int64(19), object(3)
memory usage: 2.8+ KB

,Equipo,Jugados,Sets_Jugados,Total_Puntos,Break_Puntos,Puntos_Ganados,Puntos_Perdidos,Total_Saque,Puntos_Saque,Error_Saque,...,Error_Ataque,Ataque_Bloqueado,Positivo_Ataque,Excelente_Ataque,Efic_Ataque,Toque_Red_Bloqueo,Puntos_de_Bloqueo,Puntos_Set_Bloqueo,id_equipo,temporada
0,Rio Duero Soria,15,56,959,366,593,478,1314,61,208,...,89,108,751,49.0,36.0,219,147,2.6,8-2023-2024,2023-2024
1,Voley Palma,15,60,934,327,607,322,1283,81,211,...,176,151,737,43.0,24.0,121,116,1.9,3-2023-2024,2023-2024

## Guardado en CSV.

In [22]:
result.to_csv('../../../data/2023-2024/estadistica.csv', index=False)

## Base de datos.

In [8]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [9]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [10]:
key = 'id_equipo'
dtype = {key: Integer}
estadistica.to_sql('estadistica', engine, if_exists='append', index=False)

12