In [9]:
import sys
sys.path.append('C:/Users/Alejandro/Proyectos/Tokioschool/Modulo_6/VoleyStats-Pro-run') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [13]:
opciones=Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--incognito')
opciones.add_argument('--start-maximized')
url = 'https://www.rfevb.com/calendario-superliga-masculina-2023-2024'
driver = webdriver.Chrome(options = opciones)
driver.get(url)
driver.find_element(By.XPATH , '//*[@id="lnkCookie"]').click()

In [14]:
driver.find_element(By.XPATH,'//*[@id="jornadas"]/option[1]').click()

In [17]:
data = driver.find_element(By.XPATH,'//*[@id="CPContenido_rptPlugins_PanPlugin_0"]/div').text.split('\n')[52:]

In [23]:
jornadas = []
for i in data:
    if 'JORNADA' in i:
        temp = []
        temp.append(i)
        jornadas.append(temp)
    else:
        temp.append(i)

dataframes_por_jornada = {}

for jornada in jornadas:
    fechas = []
    horas = []
    enfrentamientos = []

    for i in range(1, len(jornada), 4):
        fecha = jornada[i + 1]
        hora = jornada[i + 2]
        enfrentamiento = jornada[i + 3]

        fechas.append(fecha)
        horas.append(hora)
        enfrentamientos.append(enfrentamiento)

    df = pd.DataFrame({'fecha': fechas, 'hora': horas, 'enfrentamiento': enfrentamientos})

    num_jornada = int(jornada[0].split()[-1])

    dataframes_por_jornada[num_jornada] = df


jornadas = pd.concat(dataframes_por_jornada.values(), ignore_index=True)

In [24]:
jornadas

        fecha   hora                                     enfrentamiento
0    07/10/23  18:30  Unicaja Costa de Almería 3 - 1 UPV Leleman Con...
1    07/10/23  19:00      Club Vóley Palma 2 - 3 Pamesa Teruel Voleibol
2    07/10/23  19:00              Volei Villena Petrer 0 - 3 CV Melilla
3    08/10/23  12:00                      CV San Roque 0 - 3 CV Guaguas
4    07/10/23  19:00         Cisneros Alter Tenerife 3 - 0 Arenal Emevé
..        ...    ...                                                ...
127  16/03/24  18:30  Cisneros Alter Tenerife 0 - 0 Conectabalear CV...
128  16/03/24  18:30                    CV San Roque 0 - 0 Arenal Emevé
129  16/03/24  19:30              Volei Villena Petrer 0 - 0 CV Guaguas
130  16/03/24  19:30                  Club Vóley Palma 0 - 0 CV Melilla
131  16/03/24  19:30  UPV Leleman Conqueridor 0 - 0 Pamesa Teruel Vo...

[132 rows x 3 columns]

In [25]:

jornadas[['equipo_local', 'equipo_visitante']] = jornadas['enfrentamiento'].str.split('-', n=4, expand=True).iloc[:, [0, -1]]
jornadas['equipo_visitante'] = jornadas['equipo_visitante'].apply(lambda x: ' '.join(x.split()[:]))
jornadas.head(2)

,fecha,hora,enfrentamiento,equipo_local,equipo_visitante
0,07/10/23,18:30,Unicaja Costa de Almería 3 - 1 UPV Leleman Con...,Unicaja Costa de Almería 3,1 UPV Leleman Conqueridor
1,07/10/23,19:00,Club Vóley Palma 2 - 3 Pamesa Teruel Voleibol,Club Vóley Palma 2,3 Pamesa Teruel Voleibol

In [26]:
def reemplazar_equipo(equipo, nombre_equipo, id_equipo):
    equipo.loc[equipo['equipo_local'].str.contains(nombre_equipo, case=False, na=False), 'equipo_local'] = id_equipo
    equipo.loc[equipo['equipo_visitante'].str.contains(nombre_equipo, case=False, na=False), 'equipo_visitante'] = id_equipo

    
reemplazar_equipo(jornadas, 'Arenal Emevé', '1-2023-2024')
reemplazar_equipo(jornadas, 'Alter Tenerife', '2-2023-2024')
reemplazar_equipo(jornadas, 'Club Vóley Palma', '3-2023-2024')
reemplazar_equipo(jornadas, 'manacor', '4-2023-2024')
reemplazar_equipo(jornadas, 'CV Guaguas', '5-2023-2024')
reemplazar_equipo(jornadas, 'CV Melilla', '6-2023-2024')
reemplazar_equipo(jornadas, 'San Roque', '7-2023-2024')
reemplazar_equipo(jornadas, 'Herce Soria', '8-2023-2024')
reemplazar_equipo(jornadas, 'Pamesa Teruel Voleibol', '9-2023-2024')
reemplazar_equipo(jornadas, 'Unicaja', '10-2023-2024')
reemplazar_equipo(jornadas, 'Leleman Conqueridor', '11-2023-2024')
reemplazar_equipo(jornadas, 'Volei Villena Petrer', '12-2023-2024')
    
jornadas.rename(columns={'equipo_local': 'id_equipo_local'}, inplace=True)
jornadas.rename(columns={'equipo_visitante': 'id_equipo_visitante'}, inplace=True)
jornadas.head(2)

,fecha,hora,enfrentamiento,id_equipo_local,id_equipo_visitante
0,07/10/23,18:30,Unicaja Costa de Almería 3 - 1 UPV Leleman Con...,10-2023-2024,11-2023-2024
1,07/10/23,19:00,Club Vóley Palma 2 - 3 Pamesa Teruel Voleibol,3-2023-2024,9-2023-2024

In [27]:
jornadas[['equipo_local', 'equipo_visitante']] = jornadas['enfrentamiento'].str.split('-', n=4, expand=True).iloc[:, [0, -1]]
jornadas['equipo_visitante'] = jornadas['equipo_visitante'].apply(lambda x: ' '.join(x.split()[:]))
jornadas['resultado'] = jornadas['enfrentamiento']
def extraer_numeros(texto):
    numeros = re.findall(r'\b\d+ - \d+\b', texto)
    return numeros[0] if numeros else None
jornadas['resultado'] = jornadas['resultado'].apply(extraer_numeros)

In [28]:
jornadas

,fecha,hora,enfrentamiento,id_equipo_local,id_equipo_visitante,equipo_local,equipo_visitante,resultado
0,07/10/23,18:30,Unicaja Costa de Almería 3 - 1 UPV Leleman Con...,10-2023-2024,11-2023-2024,Unicaja Costa de Almería 3,1 UPV Leleman Conqueridor,3 - 1
1,07/10/23,19:00,Club Vóley Palma 2 - 3 Pamesa Teruel Voleibol,3-2023-2024,9-2023-2024,Club Vóley Palma 2,3 Pamesa Teruel Voleibol,2 - 3
2,07/10/23,19:00,Volei Villena Petrer 0 - 3 CV Melilla,12-2023-2024,6-2023-2024,Volei Villena Petrer 0,3 CV Melilla,0 - 3
3,08/10/23,12:00,CV San Roque 0 - 3 CV Guaguas,7-2023-2024,5-2023-2024,CV San Roque 0,3 CV Guaguas,0 - 3
4,07/10/23,19:00,Cisneros Alter Tenerife 3 - 0 Arenal Emevé,2-2023-2024,1-2023-2024,Cisneros Alter Tenerife 3,0 Arenal Emevé,3 - 0
...,...,...,...,...,...,...,...,...
127,16/03/24,18:30,Cisneros Alter Tenerife 0 - 0 Conectabalear CV...,2-2023-2024,4-2023-2024,Cisneros Alter Tenerife 0,0 Conectabalear CV Manacor,0 - 0
128,16/03/24,18:30,CV San Roque 0 - 0 Arenal Emevé,7-2023-2024,1-2023-2024,CV San Roque 0,0 Arenal Emevé,0 - 0
129,16/03/24,19:30,Volei Villena Petrer 0 - 0 CV Guaguas,12-2023-2024,5-2023-2024,Volei Villena Petrer 0,0 CV Guaguas,0 - 0
130,16/03/24,19:30,Club Vóley Palma 0 - 0 CV Melilla,3-2023-2024,6-2023-2024,Club Vóley Palma 0,0 CV Melilla,0 - 0
131,16/03/24,19:30,UPV Leleman Conqueridor 0 - 0 Pamesa Teruel Vo...,11-2023-2024,9-2023-2024,UPV Leleman Conqueridor 0,0 Pamesa Teruel Voleibol,0 - 0

In [29]:
jornadas['equipo_local'] = jornadas['equipo_local'].apply(lambda x: x[:-2])
jornadas['equipo_visitante'] = jornadas['equipo_visitante'].apply(lambda x: x[2:])
jornadas.drop('enfrentamiento', axis=1, inplace=True)
jornadas.head(2)

,fecha,hora,id_equipo_local,id_equipo_visitante,equipo_local,equipo_visitante,resultado
0,07/10/23,18:30,10-2023-2024,11-2023-2024,Unicaja Costa de Almería,UPV Leleman Conqueridor,3 - 1
1,07/10/23,19:00,3-2023-2024,9-2023-2024,Club Vóley Palma,Pamesa Teruel Voleibol,2 - 3

In [30]:
jornadas = jornadas[['fecha','hora','equipo_local','resultado','equipo_visitante','id_equipo_local','id_equipo_visitante']]
jornadas['fecha'] = pd.to_datetime(jornadas['fecha'], format='%d/%m/%y')
jornadas['hora'] = pd.to_datetime(jornadas['hora'], format='%H:%M').dt.time
jornadas.head(2)

,fecha,hora,equipo_local,resultado,equipo_visitante,id_equipo_local,id_equipo_visitante
0,2023-10-07,18:30:00,Unicaja Costa de Almería,3 - 1,UPV Leleman Conqueridor,10-2023-2024,11-2023-2024
1,2023-10-07,19:00:00,Club Vóley Palma,2 - 3,Pamesa Teruel Voleibol,3-2023-2024,9-2023-2024

In [31]:

jornadas['id_jornada'] = np.ceil((jornadas.index + 1) / 6).astype(int)
jornadas.head(2)

,fecha,hora,equipo_local,resultado,equipo_visitante,id_equipo_local,id_equipo_visitante,id_jornada
0,2023-10-07,18:30:00,Unicaja Costa de Almería,3 - 1,UPV Leleman Conqueridor,10-2023-2024,11-2023-2024,1
1,2023-10-07,19:00:00,Club Vóley Palma,2 - 3,Pamesa Teruel Voleibol,3-2023-2024,9-2023-2024,1

In [33]:
normalizar_df(jornadas)

,fecha,hora,equipo_local,resultado,equipo_visitante,id_equipo_local,id_equipo_visitante,id_jornada
0,2023-10-07,18:30:00,Unicaja Costa de Almeria,3 - 1,UPV Leleman Conqueridor,10-2023-2024,11-2023-2024,1
1,2023-10-07,19:00:00,Club Voley Palma,2 - 3,Pamesa Teruel Voleibol,3-2023-2024,9-2023-2024,1
2,2023-10-07,19:00:00,Volei Villena Petrer,0 - 3,CV Melilla,12-2023-2024,6-2023-2024,1
3,2023-10-08,12:00:00,CV San Roque,0 - 3,CV Guaguas,7-2023-2024,5-2023-2024,1
4,2023-10-07,19:00:00,Cisneros Alter Tenerife,3 - 0,Arenal Emeve,2-2023-2024,1-2023-2024,1
...,...,...,...,...,...,...,...,...
127,2024-03-16,18:30:00,Cisneros Alter Tenerife,0 - 0,Conectabalear CV Manacor,2-2023-2024,4-2023-2024,22
128,2024-03-16,18:30:00,CV San Roque,0 - 0,Arenal Emeve,7-2023-2024,1-2023-2024,22
129,2024-03-16,19:30:00,Volei Villena Petrer,0 - 0,CV Guaguas,12-2023-2024,5-2023-2024,22
130,2024-03-16,19:30:00,Club Voley Palma,0 - 0,CV Melilla,3-2023-2024,6-2023-2024,22
131,2024-03-16,19:30:00,UPV Leleman Conqueridor,0 - 0,Pamesa Teruel Voleibol,11-2023-2024,9-2023-2024,22

## Guardado en CSV.

In [34]:
jornadas.to_csv('../../../data/2023-2024/jornadas.csv', index=False)

## Base de datos.

In [18]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [19]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [20]:

jornadas.to_sql('Jornadas', engine, if_exists='append', index=False)

132